body {
    transition: 0.3s;
    display: flex;
    margin: 0;
    background: radial-gradient(circle at center, red 20%, transparent 40%) no-repeat border-box, linear-gradient(to right , rgb(255, 165, 80), yellow, rgb(255, 165, 80)) no-repeat border-box;
}




/* MUSIC VISUALIZER */

#visualizer-left-big {
    display: inline-block;
    position: absolute;
    z-index: 2;
}

#visualizer-left-big .bar-big {
    background-image: linear-gradient(to right, var(--vibrant-color), var(--light-vibrant-color) ,var(--vibrant-color));
    background-size: 20% 100%;
}

#visualizer-right-big {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

#right-container-big {
    float: right;
}

#visualizer-right-big .bar-big {
    background-image: linear-gradient(to right, var(--vibrant-color), var(--light-vibrant-color) ,var(--vibrant-color));
    float: right;
    margin-left: 100%;
    background-position-x: 0px;
    background-size: 20% 100%;
}

.bar-big {
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    transition: 0.1s;
    background-attachment: fixed !important;
}


#visualizer-left-small {
    position: absolute;
    height: 100%;
    width: 300px;
    left: -300px;
}

#visualizer-right-small {
    height: 100%;
}

#left-container-small {
    justify-self: end;
    display: grid;
    z-index: 2;
    height: 100%;
}

#right-container-small {
    width: 300px;
    right: -300px;
    position: absolute;
    height: 100%;
    display: grid;
    z-index: 2;
    top: 0;
    bottom: 0;
}

#visualizer-right-small .bar-small {
    background-image: linear-gradient(to right, var(--vibrant-color) 5%, var(--light-vibrant-color) 35%);
    background-origin: content-box;
    background-position-x: left;
    background-size: 300px auto;
}

#visualizer-left-small .bar-small {
    justify-self: end;
    background-image: linear-gradient(to left, var(--vibrant-color) 5%, var(--light-vibrant-color) 35%);
    background-origin: content-box;
    background-position-x: right;
    background-size: 300px auto;
}

.bar-small {
    padding: 0;
    margin: 0;
    background-color: var(--vibrant-color);
    transition: 0.1s;
}


/* MEDIA INFO */

#media-container {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    z-index: 1;
}

#media-content {
    width: fit-content;
    height: fit-content;
    text-align: center;
    font-size: 1em;
    font-family: monospace;
    padding: 10px;
    background-color: var(--vibrant-color);
}

#media-content h1 {
    color: var(--light-vibrant-color);
}

#thumbnail {
    width: 300px;
    height: 300px;
}

#media-progress-outer {
    height: 10px;
    width: 100%;
}

#media-progress-inner {
    height: 100%;
    background-color: var(--light-vibrant-color);
    transition: width 5s linear;
}



/* BACKGROUND IMAGE */

#background-image {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}




/* QUOTE */

#quote-container {
    width: fit-content;
    height: fit-content;
    text-align: center;
    margin: auto;
    z-index: 1;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    font-size: .75em;
    color: white;
    text-shadow:
    1px 1px 0 #000,
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}

#quote {
    font-family: 'Source Sans Pro', sans-serif;
}

#author {
    font-family: 'Source Sans Pro', sans-serif;
}